.media-container {
  position: relative;
  margin: 6px;
}

.media-container:hover {
  cursor: pointer;
}

.media-container .media {
  max-height: 250px;
  box-shadow: 0px 2px 4px 2px #303030;
}

.media-container .youtube {
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-container .youtube-icon {
  position: absolute;
  width: 70px;
}

.media-container .gif {
  position: absolute;
  right: 0;
  width: 28px;
  margin: 7px;
  border-radius: 50%;
  box-shadow: 0.5px 1px 3px #383838;
}
