.header {
  display: flex;
  align-items: center;
  min-width: 100%;
  background-color: #2f3136;
  box-shadow: 0px 0px 8px 2px #282828;
  padding: 8px 12px;
}

.user {
  display: flex;
  align-items: center;
}

.username {
  color: #ddd;
  margin: 0px;
  font-size: 1.5rem;
  font-weight: 600;
}

.user > .avatar {
  display: flex;
  flex-direction: column;
  height: 45px;
  margin-right: 10px;
  border-radius: 50%;
}

.navbar-collapse {
  margin-left: 24px;
  margin-right: 24px;
}

.nav-link {
  background-color: #202225;
  color: #ddd !important;
  margin: 0px 4px;
  border-radius: .35rem;
  font-size: 1rem;
}

.nav-link:hover {
  background-color: #36393f;
}

.search-input, .search-input:focus {
  min-width: 250px !important;
  background-color: #40444b;
  border-radius: .25rem 0 0 .25rem;
  color: #ddd;
  border: none;
}

.search-input::placeholder {
  color: #999;
}

.search-icon {
  display: flex;
  align-items: center;
  margin: 0 2px;
  padding: 0 .3rem;
  border-radius: 0 .25rem .25rem 0;
  background-color: #7289DA;
}

.search-icon:hover {
  background-color: rgb(95, 115, 187);
}

.search-icon img {
  width: 1.75rem;
}
